QToolBar {
  background-color: white;
  padding: 4px;
}
QToolButton {
  background-color: rgb(18, 61, 117);
  border-radius: 2px;
  padding: 10px;
  font-weight: 650;
}
QToolButton:hover {
  background-color: rgb(45, 101, 173);
}
