QToolBar {
  background-color: white;
  padding: 4px;
}
QToolButton {
  Background-color: rgb(255,247,191);
  border-radius: 2px;
  padding: 10px;
  font-weight: 650;
}
QToolButton:hover {
  background-color:;
}