QMainWindow {background-color: #eaeaea;}

QMenuBar {
  padding: 10px;
  font-weight: 650;
  background-color: rgb(18, 61, 117);
}

QToolBar {
  background-color: #f3f2f0;
  padding: 4px;
}
QToolButton {
  color: #080808;
  background-color: #f3f2f0;
  border-radius: 2px;
  padding: 10px;
  font-weight: 400;
}
QToolButton:hover {
  color: #FAF7F7FF;
  background-color: rgb(45, 101, 173);
}
