QMainWindow {background-color: #eaeaea;}

QMenuBar {
  padding: 10px;
  font-weight: 650;
  background-color: #C58BCBFF;
}

QToolBar {
  background-color: #f3f2f0;
  padding: 4px;
}
QToolButton {
  color: #080808;
  background-color: #f3f2f0;
  border-radius: 5px;
  padding: 10px;
  font-weight: 400;
}
QToolButton:hover {
  color: #FAF7F7;
  background-color: #FAF7F7;
}
